{% extends "base.html" %}




{% block main_content %}
<section id="introduction">
    <h1>Welcome to Bloodelf Escapade!</h1>
    <p>
        Your goal is to eliminate all Bloodelfs with your nifty gun-laser thingy.
    </p>
    <p>
        After you have defeated all Bloodelfs, your next challenger approaches - their Boss!
    </p>
    <p>
        You can use Arrow Keys in order to move, hit spacebar to shoot.
    </p>
    <p>
        Gain score by killing enemies. Your score is multiplied by the amount of amunition you have left, your hp and time.
    </p>
    <p>
        After the end of the game, score is automatically recorded, however, only the top 10 players with the most points show up! :)
    </p>
</section>
{% endblock %}