{% extends "base.html" %}

{% block main_content %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.band.label }}
        {{ form.band() }}
        {% for error in form.band.errors %}
            {{error}}
        {% endfor %}
        <br />


        {{ form.submit()}}
    </form>


    {% if gigs %}
    <table>
        <caption>
            {{caption}}
        </caption>
        {% for gig in gigs %}
            <tr>
                <td>
                    {{ gig["band"] }}
                </td>
                <td>
                    {{ gig["gig_date"] }}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}








{% endblock %}