{% extends "base.html" %}

{% block main_content %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.user_id.label }}
        {{ form.user_id() }}
        {% for error in form.user_id.errors %}
            {{error}}
        {% endfor %}
        <br />
        {{ form.password.label }}
        {{ form.password() }}
        {% for error in form.password.errors %}
            {{error}}
        {% endfor %}
        <br />
        {{ form.password2.label }}
        {{ form.password2() }}
        {% for error in form.password2.errors %}
            {{error}}
        {% endfor %}
        <br />
        {{ form.submit()}}
    </form>



{% endblock %}